body {
    font-family: 'Poppins'; 
    min-height: 100vh;
}

.navbar {
    height: 60px;
}

.backgroundImg {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

.badge{
    position: absolute;
    top: -10;
    left: 0;
    margin-top: 160px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: transparent;
}

.badge:hover .overlay {
    opacity: 1;
}

.badge:hover .image {
    opacity: 0.25;
    filter: grayscale();
}

.text {
    color: #4C5175;
    font-size: 18px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    word-break: break-all;
}