body{
    margin: 0;
    padding: 0;
    animation: bgcolor infinite 14s;
}

@keyframes bgcolor{
    0%{
        background: #7880b5;
    }
    20%{
        background: #f3d250;
    }
    40%{
        background: #f4976c;
    }
    60%{
        background: #f1f2f6;
    }
    80%{
        background: #6987c9;
    }
    100%{
        background: #a2cc7a;
    }
}

.container{
    margin-top: 80px;
}

.col-1{
    margin-bottom: 50px;
}

.header{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.badge{
    width: 1%;
    height: auto;
}

.locked{
    filter: grayscale();
    width: 1%;
    height: auto;
}

.image{
    width: 70px;
    height: auto;
}
