#header {
    margin-top: 20px;
}
#logo {
    max-width:80%;
    max-height: 50%;    
}

#sign-in {
    margin-top: 10px;
    text-align: right;
}

#blank-space {
    height: 40px;
}

#dropdown {
    margin-top: 3%;
}
.reg-form {
    width: 75%;
    font-size: large;
    margin-top: 3%;
}

.dropdown-toggle {
    margin-top: 3%;
}

#dDSchool{ 
    margin-left: 3%;
}

#selectModHeader {
    margin-top: 3%;
}
.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 0px 0px; 
    border-radius: 15px; 
    font-size: large; 
    text-align: center; 
} 

#addModule {
    margin-top:3%;
}

.input-bar-item {
    display: table-cell;
}

/* #courseText {
    width: 50%;
} */
/* 
body{
    margin: 0;
    padding: 0;
    animation: bgcolor infinite 14s;
}

@keyframes bgcolor{
    0%{
        background: #7880b5;
    }
    20%{
        background: #f3d250;
    }
    40%{
        background: #f4976c;
    }
    60%{
        background: #f1f2f6;
    }
    80%{
        background: #6987c9;
    }
    100%{
        background: #a2cc7a;
    }
} */
