body {
    font-family: 'Poppins'; 
    min-height: 100vh;
}

.navbar {
    height: 60px;
}

/* .dropdown-toggle::after { 
    display: none !important; 
}

.input-group-text {
    background-color: white;
}

.pill {
    background-color: #F1F2F6;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 16px;
}

.pill:hover {
    background-color: #F4976C;
  } */


/* .building  {
    margin-top:5px;
    margin-right:10px;
}

.location {
    margin: 5px 5px 0px 5px;
}

.calendar {
    margin-top: 5px;
    margin-right:10px;
    
} */

.searchbar {
    padding: 20px;
    background-color: #F3D250;

}
#input1, #input2 {
    width: 500px;
}

#input1 {
    /* margin-left: 120px; */
    /* float: right; */
    /* margin-right: 20px; */
    /* text-align: right; */
    float: right;
}

/* #keyword */

#input2 {
    background-color: white;
    text-align: left;
    color: grey;    
}

#search {
    margin-left: 1%;
}

#keyword {
    margin-top: 10px;
}

#key1, #key2 {
    margin-right: 5%;
}

#noResultText {
    text-align: center;
    color: #F1F2F6;
}
#noResultImg {
    width: 200px;
    height: 200px;
    margin-top: 20px;

}

#noResultText {
    text-align: center;
    color:#F1F2F6;
}

h5 {
    margin-top: 10px;
    /* margin-right:10px; */
}
